@use '../functions' as global-functions;

@use '../variables' as global-variables;
@use './variables';

.left-bar {
  transform: translate(-#{variables.$left-bar-width}, 0);
  width: variables.$left-bar-width;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: global-functions.property(background, global-variables.$background);
  border-color: global-functions.property(border, global-variables.$border);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0;
  transition: transform global-variables.$transition-time ease-in-out;
  
  & + .main-content {
    transform: translate(-#{variables.$left-bar-width}, 0);
    transition: transform global-variables.$transition-time ease-in-out;
  }
  
  &-open {
    transform: translate(0, 0);
    border-right-width: variables.$left-bar-border-width;
    border-right-style: solid;
    padding: variables.$left-bar-padding;
    
    & + .main-content {
      transform: translate(0, 0);
    }
  }
  
  &-header {
    display: flex;
    justify-content: space-between;
  }
  
  &-toolbar {
    display: flex;
    justify-content: center;
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    
    &-hide {
      display: none;
    }
  }
}