// sizes
$space-width: 1rem !default;
$space-width-min: 0.25rem !default;
$space-width-mid: 0.5rem !default;

// margin & padding
$margin-top: 1rem !default;
$margin-bottom: 1rem !default;
$margin: 1rem !default;

$padding: 1rem !default;
$padding-link: 0.5rem !default;

$margin-min: 0.25rem !default;


