@use '../functions' as global-functions;

@use '../theme' as global-theme;

@use './variables';
@use '../variables' as global-variables;

html, body {
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI';
}

[data-layout] {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

[data-layout], [data-page] {
  flex: 1 1 auto;
  opacity: 1;
  transition: opacity global-variables.$transition-time linear;

  &.page-unmount {
    opacity: 0;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: variables.$padding;
  
  *::selection {
    color: global-functions.property(text-primary, global-theme.$text-primary);
    background-color: global-functions.property(text-background-primary, global-theme.$text-background-primary);
  }
}

.text-primary {
  color: global-functions.property(text-background-primary, global-theme.$text-background-primary);
}

.link {
  outline: none;
  padding: variables.$padding-link;
  text-decoration: none;
  font-weight: bold;
  color: global-functions.property(text-background-primary, global-theme.$text-background-primary);

  &-hide {
    display: none;
  }
}

.flex {
  display: flex;

  &-space-between {
    justify-content: space-between;  
  }  

  &-vertical {
    flex-direction: column;
  }

  &-fill {
    flex: 1 1 auto;
  }
}

.space {
  width: variables.$space-width;
  
  &-min {
    width: variables.$space-width-min;
  }

  &-mid {
    width: variables.$space-width-mid;
  }
}

.mb-1 {
  margin-bottom: variables.$margin-bottom;
}

.mt-1 {
  margin-top: variables.$margin-top;
}

.m-1 {
  margin: variables.$margin;
}

.mmr-1 {
  margin-right: variables.$margin-min;
}

.mm-1 {
  margin: variables.$margin-min;
}
