// sizes
$height: 2.25rem !default;
$height-min: 1.5rem !default;
$min-width: 4rem !default;
$border-radius: 0.25rem !default;

$icon-width: 2rem !default;
$icon-height: 2rem !default;
$icon-min-width: 1.5rem !default;
$icon-min-height: 1.5rem !default;

$space-width: 1rem !default;
$space-width-min: 0.25rem !default;

// padding & margin
$padding-min: 0.5rem !default;
$padding-horizontal: 1rem !default;